@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    User currentUser = null;
    string currentUserStrFormat = HttpContextAccessor.HttpContext.Session.GetString("User");
    if (currentUserStrFormat != null)
    {
        string[] userFields = currentUserStrFormat.Split(':');
        currentUser = new User
        {
            Id = int.Parse(userFields[0]),
            Name = userFields[1],
            Surname = userFields[2],
            DocumentNumber = userFields[3],
            Login = userFields[4],
            Password = userFields[5],
            RoleId = int.Parse(userFields[6])                   
        };
    }
}
<div class="header">
    <h4 class="display-4">Welcome to user page</h4>
</div>

<div class="back">
    <div class="Index">
        @{
            if (currentUser != null)
            {
                <p>Id: @currentUser.Id</p>
                <p>Name: @currentUser.Name</p>
                <p>Surname: @currentUser.Surname</p>
                <p>Document: @currentUser.DocumentNumber</p>
                <p>Login: @currentUser.Login</p>
                <p>Password: @currentUser.Password</p>

                if (currentUser.RoleId == 2)
                {
                    <h5>Вход с правами супер пользователя</h5>
                }
            }
            else
            {
                <p>Что-то пошло не так, нет данных...</p>
            }
        }
        @{
            if (currentUser.RoleId == 2)
            {
                <div>
                    <a asp-controller="Users" asp-action="Index">
                        <input type="submit" value="Администрирование пользователей"/>
                    </a>
                </div>
                <div>
                    <a asp-controller="Airlines" asp-action="Index">
                        <input type="submit" value="Администрирование авиакомпаний" />
                    </a>
                </div>
                <div>
                    <a asp-controller="Schedules" asp-action="Index">
                        <input type="submit" value="Администрирование расписания полетов" />
                    </a>
                </div>
            } 
            else
            {
                <div>
                    <a asp-controller="Airtickets" asp-action="Booking">
                        <input type="submit" value="Перейти к заказу билетов" />
                    </a>
                </div>
                <div>
                    <a asp-controller="Airtickets" asp-action="PlannedFlights">
                        <input type="submit" value="Запланированные перелеты" />
                    </a>
                </div>
                <div>
                    <a asp-controller="Airtickets" asp-action="FlightHistory">
                        <input type="submit" value="История перелетов" />
                    </a>
                </div>
            }
        }
        <div>
            <a asp-action="LogOut" asp-controller="Account">
                <input type="submit" value="Выход из аккаунта"/>
            </a>
        </div>
    </div>
</div>



