@model IEnumerable<ASP_MVC_Project.Models.Schedule>

@{
    ViewData["Title"] = "Booking";
}

<div class="header">
    <h1>Tickets order page</h1>
</div>

<div class="back">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline.Name)
            </td>
            <td>
                <a asp-action="Purchase" asp-route-id="@item.Id">Purchase ticket</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
