@model IEnumerable<ASP_MVC_Project.Models.Airticket>

@{
    ViewData["Title"] = "FlightHistory";
}

<div class="header">
    <h1>Your flight history</h1>
</div>

<div class="back">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule.Destination)
            </th>
        </tr>
    </thead>
        @{
            if (Model.Count() == 0)
            {
                <p>No have elements...</p>
            }
        }
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Destination)
            </td>
        </tr>
        }
    </tbody>
</table>

</div>
